In [1]:
%%bigquery
SELECT * FROM `o-officeit-db.TabularPlaygroundSeries_Dec_2021.train` LIMIT 1000

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 430.54query/s]
Downloading: 100%|██████████| 1000/1000 [00:01<00:00, 741.89rows/s]

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1518,3244,54,40,255,146,4039,209,125,0,...,0,0,0,0,0,0,0,0,0,1
1,4375,2978,347,38,218,105,277,123,152,149,...,0,0,0,0,0,0,0,0,0,1
2,5808,3173,279,38,492,56,1597,93,215,245,...,0,0,0,0,0,0,0,0,0,1
3,6197,3237,120,36,351,41,3127,253,185,26,...,0,0,0,0,0,0,0,1,0,1
4,6470,3383,307,39,192,65,2881,90,186,222,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,14747,3418,27,4,342,-3,953,218,230,149,...,0,0,0,0,0,0,1,0,0,7
996,14753,3417,65,4,350,69,865,223,231,143,...,0,0,0,0,0,0,0,0,1,7
997,14769,3571,31,4,283,78,1691,219,230,148,...,0,0,0,0,0,0,0,0,1,7
998,14803,3496,63,4,424,154,1319,224,231,143,...,0,0,0,0,0,0,0,0,1,7
999,237,3244,326,5,750,53,3730,207,234,166,...,0,0,0,0,0,0,0,0,0,1

In [2]:
%%bigquery df
SELECT * FROM `o-officeit-db.TabularPlaygroundSeries_Dec_2021.train` LIMIT 1000

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 626.48query/s]
Downloading: 100%|██████████| 1000/1000 [00:01<00:00, 756.46rows/s]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 56 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id                                  1000 non-null   int64
 1   Elevation                           1000 non-null   int64
 2   Aspect                              1000 non-null   int64
 3   Slope                               1000 non-null   int64
 4   Horizontal_Distance_To_Hydrology    1000 non-null   int64
 5   Vertical_Distance_To_Hydrology      1000 non-null   int64
 6   Horizontal_Distance_To_Roadways     1000 non-null   int64
 7   Hillshade_9am                       1000 non-null   int64
 8   Hillshade_Noon                      1000 non-null   int64
 9   Hillshade_3pm                       1000 non-null   int64
 10  Horizontal_Distance_To_Fire_Points  1000 non-null   int64
 11  Wilderness_Area1                    1000 non-null   int64
 12  Wilderness_Area2                    1000 non-null   int64
 13  Wilderness_Area3                    1000 non-null   int64
 14  Wilderness_Area4                    1000 non-null   int64
 15  Soil_Type1                          1000 non-null   int64
 16  Soil_Type2                          1000 non-null   int64
 17  Soil_Type3                          1000 non-null   int64
 18  Soil_Type4                          1000 non-null   int64
 19  Soil_Type5                          1000 non-null   int64
 20  Soil_Type6                          1000 non-null   int64
 21  Soil_Type7                          1000 non-null   int64
 22  Soil_Type8                          1000 non-null   int64
 23  Soil_Type9                          1000 non-null   int64
 24  Soil_Type10                         1000 non-null   int64
 25  Soil_Type11                         1000 non-null   int64
 26  Soil_Type12                         1000 non-null   int64
 27  Soil_Type13                         1000 non-null   int64
 28  Soil_Type14                         1000 non-null   int64
 29  Soil_Type15                         1000 non-null   int64
 30  Soil_Type16                         1000 non-null   int64
 31  Soil_Type17                         1000 non-null   int64
 32  Soil_Type18                         1000 non-null   int64
 33  Soil_Type19                         1000 non-null   int64
 34  Soil_Type20                         1000 non-null   int64
 35  Soil_Type21                         1000 non-null   int64
 36  Soil_Type22                         1000 non-null   int64
 37  Soil_Type23                         1000 non-null   int64
 38  Soil_Type24                         1000 non-null   int64
 39  Soil_Type25                         1000 non-null   int64
 40  Soil_Type26                         1000 non-null   int64
 41  Soil_Type27                         1000 non-null   int64
 42  Soil_Type28                         1000 non-null   int64
 43  Soil_Type29                         1000 non-null   int64
 44  Soil_Type30                         1000 non-null   int64
 45  Soil_Type31                         1000 non-null   int64
 46  Soil_Type32                         1000 non-null   int64
 47  Soil_Type33                         1000 non-null   int64
 48  Soil_Type34                         1000 non-null   int64
 49  Soil_Type35                         1000 non-null   int64
 50  Soil_Type36                         1000 non-null   int64
 51  Soil_Type37                         1000 non-null   int64
 52  Soil_Type38                         1000 non-null   int64
 53  Soil_Type39                         1000 non-null   int64
 54  Soil_Type40                         1000 non-null   int64
 55  Cover_Type                          1000 non-null   int64
dtypes: int64(56)
memory usage: 437.6 KB

In [6]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1518,3244,54,40,255,146,4039,209,125,0,...,0,0,0,0,0,0,0,0,0,1
1,4375,2978,347,38,218,105,277,123,152,149,...,0,0,0,0,0,0,0,0,0,1
2,5808,3173,279,38,492,56,1597,93,215,245,...,0,0,0,0,0,0,0,0,0,1
3,6197,3237,120,36,351,41,3127,253,185,26,...,0,0,0,0,0,0,0,1,0,1
4,6470,3383,307,39,192,65,2881,90,186,222,...,0,0,0,0,0,0,0,1,0,1